@charset "UTF-8";


/*-------------------------------------------------------
SP: top__concept
---------------------------------------------------------*/
.concept__container {
    width: 100%;
    max-width: 1030px;
    padding: 100px 15px 40px;
}

.concept__heading {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    color: #282F35;
}

.concept__heading::after {
    content: "";
    display: inline-block;
    width: 90px;
    height: 5px;
    background-color: #282F35;
    margin-left: 32px;
    vertical-align: middle;
}

.concept__sub-heading {
    width: 100%;
    max-width: 600px;
    margin: 50px auto 0;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 20px;
    color: #171717;
    line-height: 1.5;
    text-align: center;
}

.concept__body {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;
}

.concept__body__txt {
    width: 100%;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.005em;
    color: #171717;
}

.concept__body__imgArea {
    width: 100%;
    height: auto;
    margin-top: 30px;
}

.concept__body__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.concept__concept-name {
    text-align: right;
    margin-top: 38px;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 40px;
    color: rgba(23, 23, 23, 0.05);
}





/*
PC: top__concept
---------------------------------------*/
@media(min-width: 768px) {

    .concept__container {
        margin: 0 auto;
        padding: 100px 15px 70px;
    }

    .concept__heading {
        font-size: 60px;
    }

    .concept__sub-heading {
        font-size: 30px;
        line-height: 1.67;
        margin: 70px auto 0;
    }

    .concept__body {
        margin-top: 60px;
        flex-direction: row;
        align-items: center;
        gap: 12%;
    }

    .concept__body__txt {
        width: 44%;
    }

    .concept__body__imgArea {
        width: 44%;
        margin-top: 0;
    }

    .concept__concept-name {
        font-size: 90px;
    }

}

@media(min-width: 1230px) {

    .concept__concept-name {
        margin-top: 38px;
        margin-right: min(-6.94vw, -100px);
    }
}






/*-------------------------------------------------------
SP: top__works
---------------------------------------------------------*/
.works {
    background-color: rgba(40, 47, 53, 1);
}

.works__imgContainer {
    background-image: url(../img/works-bgi.png);
    /* opacity: 0.2; */
    /* ↑画像はXDで書きだした時点で透過させているのでここでopacityを使う必要はなし */
    background-size: cover;
    z-index: -2;
}

.works__container {
    width: 100%;
    max-width: 1232px;
    margin: 0 auto;
    padding: 100px 28px 40px;
}

.works__heading {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    color: #fff;
    text-align: right;
}

.works__heading::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color: #fff;
    margin-left: 31px;
    vertical-align: middle;
}

.works__list {
    margin: 50px auto 0;
    width: 100%;
    max-width: 1000px;
    display: flex;
    flex-direction: column;
}

.works__item:not(:first-of-type) {
    margin-top: 30px;
}

.works__item {
    background-color: #fff;
    margin: 0 auto;
    max-width: 320px;
}

.works__item__imgArea {
    width: 100%;
    height: auto;
}

.works__item__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.works__item__body {
    padding: 25px 20px;
}

.works__item__body__txt {
    font-family: 'Noto Serif JP', serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
}

.works__btnArea {
    margin-top: 80px;
    text-align: center;
}


.works__btn {
    text-align: center;
    display: inline-block;
    width: 235px;
    padding: 18px;
    background-color: #F7D43F;
    color: #171717;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 16px;
    border-radius: 100px;
    filter: drop-shadow(0 0 6px #1B1310);
}

.works__works-name {
    margin-top: 40px;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 40px;
    color: #fff;
    opacity: .1;
}






/*
PC: top__works
---------------------------------------*/
@media(min-width: 768px) {

    .works__container {
        padding: 104px 28px 70px;
    }

    .works__heading {
        font-size: 60px;
    }

    .works__heading::after {
        width: 200px;
        margin-left: 48px;
    }

    .works__list {
        margin-top: 80px;
        flex-direction: row;
    }

    .works__item {
        width: calc((100% - 40px) / 3);
    }

    .works__item:not(:first-of-type) {
        margin-top: 0;
        margin-left: 20px;
    }

    .works__works-name {
        margin-top: 70px;
        font-size: 90px;
    }



}






/*-------------------------------------------------------
SP: top__service
---------------------------------------------------------*/
.service__container {
    padding: 100px 0 64px;
}

.service__heading {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 4vw;
}


.service__heading::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 5px;
    margin-left: 30px;
    background-color: #282F35;
    vertical-align: middle;
}

.service__list {
    margin-top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.service__item {
    width: 100%;
    aspect-ratio: 3/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.service__item a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.service__item a:hover {
    background-color: rgba(40, 47, 53, .7);
}

.service__item:not(:first-of-type) {
    margin-top: 30px;
}

.service__item:nth-of-type(1) {
    background: url(../img/service-img01.png);
    background-size: cover;
}

.service__item:nth-of-type(2) {
    background: url(../img/service-img02.png);
    background-size: cover;
}


.service__item:nth-of-type(3) {
    background: url(../img/sevice-img03.png);
    background-size: cover;
}

.service__item-name {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 20px;
    color: #fff;
}



.service__service-name {
    padding: 0 4vw;
    margin-top: 40px;
    text-align: right;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 40px;
    color: rgba(23, 23, 23, 0.05);
}




/*
PC: top__service
---------------------------------------*/
@media(min-width: 768px) {

    .service__container {
        padding: 100px 0 70px;
    }

    .service__heading {
        font-size: 60px;
        padding: 0;
    }

    .service__heading::after {
        width: 200px;
    }

    .service__list {
        flex-direction: row;
    }

    .service__item:not(:first-of-type) {
        margin-top: 0;
    }


    .service__item-name {
        font-size: 40px;
    }

    .service__service-name {
        padding: 0 8.33vw;
        margin-top: 70px;
        font-size: 90px;
    }
}





/*-------------------------------------------------------
SP: top__contact
---------------------------------------------------------*/
.contact {
    background-color: #282F35;
}

.contact__imgContainer {
    background: url(../img/fv01.png);
    background-size: cover;
    background-position: center center;
}

.contact__container {
    width: 100%;
    padding: 100px 4vw 58px;
    z-index: 10;
}

.contact__heading {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-style: italic;
    font-size: 30px;
    color: #fff;
    text-align: right;
}

.contact__heading::after {
    content: "";
    display: inline-block;
    width: 100px;
    height: 5px;
    background-color: #fff;
    vertical-align: middle;
    margin-left: 30px;
}

.contact__txt {
    margin-top: 80px;
    text-align: center;
    font-family: 'Noto Serif JP', serif;
    font-weight: 700;
    font-size: 20px;
    color: #fff;
}

.contact__btnArea {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.contact__btn {
    text-align: center;
    max-width: 235px;
    padding: 19px 84px;
    background-color: #F7D43F;
    border-radius: 100px;
    color: #171717;
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 16px;
}

.contact__contact-name {
    margin-top: 40px;
    font-family: 'Noto Serif JP', serif;
    font-weight: 700;
    font-size: 40px;
    color: rgba(255, 255, 255, 0.05);
    text-align: left;
}



/*
PC: top__service
---------------------------------------*/
@media(min-width: 768px) {

    .contact__container {
        padding: 110px 15px 70px;
        max-width: 1206px;
        margin: 0 auto;
    }

    .contact__heading {
        font-size: 60px;
    }

    .contact__heading::after {
        width: 300px;
    }

    .contact__btnArea {
        margin-top: 40px;
    }

    .contact__contact-name {
        margin-top: 70px;
        font-size: 90px;
    }

}






/*-------------------------------------------------------
SP: contact__form
---------------------------------------------------------*/
input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
textarea,
select {
    width: 100%;
    min-height: 30px;
}

.contact-page__container {
    width: 100%;
    max-width: 730px;
    margin: 0 auto;
    padding: 97px 4vw 80px;
}


.naiyou-list {
    display: flex;
    flex-direction: column;
    margin-top: 13px;
}

.naiyou-list__item:not(:first-of-type) {
    margin-top: 5px;
}

.inputField {
    margin-top: 3px;
}


input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"],
input[type="search"],
textarea,
select {
    width: 100%;
    min-height: 30px;
    padding: 10px;
}


textarea {
    height: 171px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
textarea:focus,
select:focus {
    outline: 1px solid #141414;
    box-shadow: 0 0 5px #141414;
}

/* チェックボックス関連 */
input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

.visibleCheckbox {
    position: relative;
    margin-left: 20px;
    cursor: pointer;
}


input[type="checkbox"]+.visibleCheckbox::before {
    content: "";
    width: 10px;
    height: 10px;
    border: 1px solid #141414;
    position: absolute;
    top: 6px;
    left: -20px;
}


input[type="checkbox"]+.visibleCheckbox::after {
    content: "";
    width: 3px;
    height: 7px;
    border-right: 2px solid #141414;
    border-bottom: 2px solid #141414;
    transform: rotate(45deg);
    position: absolute;
    top: 7px;
    left: -17px;
    display: none;
}

input[type="checkbox"]:checked+.visibleCheckbox::after {
    display: block;
}



.form__list__item:not(:first-of-type) {
    margin-top: 22px;
}


.form__btnArea {
    text-align: center;
    margin-top: 80px;
}

.btn1 {
    font-family: 'Noto Serif', serif;
    font-weight: 700;
    font-size: 16px;
    padding: 18px 90px;
    border: none;
    border-radius: 100px;
    background-color: #F7D43F;
    cursor: pointer;
}

.btn1:disabled {
    opacity: 0.6;
    cursor: unset;
}



/*
PC: contact__form
---------------------------------------*/
@media(min-width: 768px) {

    .contact-page__container {
        padding: 97px 15px 80px;
    }

    .naiyou-list {
        flex-direction: row;
        margin-top: 5px;
    }

    .naiyou-list__item:not(:first-of-type) {
        margin-top: 0;
        margin-left: 20px;
    }
}